@model ProjetNathanaelOscar.Models.Vetement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vetement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateObtention)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateObtention)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeVetement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeVetement)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw($"<img src='{Model.Image}' width='200' />")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VetementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
